body {
	text-align: center;
	background: linear-gradient(to bottom, #482306 0%,#9d4d0d 15%,#9d4d0d 100%); /* W3C */
	height: 2000px;
}

section {
}

h1{
	background: url(../Images/logo.png) no-repeat 0 0;
	background-size: 100% auto;
	width:400px;
	height: 140px;
	text-indent: -9999px;
	margin: 0 auto;
}