body {
	text-align: center;
	background: #880b0b;
	height: 2000px;
}

section {
}

h1 {
	background: url(../Images/logo.png) no-repeat 0 0;
	background-size: 100% auto;
	width:400px;
	height: 140px;
	text-indent: -9999px;
	margin: 0 auto;
}