@model TakeAnElfie.Web.Models.CameraModel


 <h1 class="logo">Take an Elfie</h1>

<video id="v" style="display:none;"></video>
<canvas id="c" style="display:none;" width="480" height="640" ></canvas>

<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/camera.js"></script>
