@{
    ViewBag.Title = "Home Page";
}

Place your face against the window...

<button type="button" class="take-elfie">Take Elfie!</button>

<div class="review-image">
    <button type="button" class="approve">Approve</button>
    <button type="button" class="take-elfie">No, Take again</button>
</div>

<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/user.js"></script>
